# String Replace

In [82]:
# Question-1
input_string = "Hello, how are you doing?"
print(input_string.replace(" ",""))

Hello,howareyoudoing?

In [83]:
# Question-2
input_string = "I have a book, a pen, and another book in my bag and book."
print(input_string.replace("book","notebook",2))

I have a notebook, a pen, and another notebook in my bag and book.

# String len()

In [84]:
# Question-1
str1 = ""
print(len(str1))

0

In [85]:
# Question-2
str1 = """amit
kumar"""
print(len(str1))

10

# String

In [86]:
# Question-1
var1 = 10
var2 = "Ten"
print(str(var1)+var2)

10Ten

In [87]:
# Question-2
name = "Amit"
age = 24
print(f"My name is {name} and I am {age} years old.")

My name is Amit and I am 24 years old.

In [88]:
# Question-2
name = "Amit"
age = 24
print("My name is {} and I am {} years old.".format(name,age))

My name is Amit and I am 24 years old.

In [89]:
# Question-3
input_string = "abcd"
print("Solution-1 = ",input_string.replace("","_",len(input_string)).replace("_","",1).capitalize())
print("Solution-2 = ",input_string.capitalize().replace("","_",len(input_string)).replace("_","",1))
input_string = input_string.capitalize()
print("Solution-3 = ","_".join(input_string))

Solution-1 =  A_b_c_d
Solution-2 =  A_b_c_d
Solution-3 =  A_b_c_d

In [90]:
# Question-4
my_string = "one two three four five"
print(my_string.split(" ",2))

['one', 'two', 'three four five']